body{
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  text-align: center;
}
a{
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  margin: 0 20px;
}
h1{
  color: #76B7C7;
  margin: 50px auto;
  font-family: 'Liu Jian Mao Cao', cursive;
  font-size: 5.625rem;
}
h2{
  color: #76B7C7;
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
}
h3{
  color: #50c9ba;
  font-family: 'Roboto Slab', sans-serif;
}
hr{
  width: 5%;
  border: 8px dotted;
  color: grey;
  border-bottom: none;
  margin: 50px auto;
}
p{
  line-height: 2.0;
}
.artist-image{
  width: 70%;
}
.bottom-container{
  background-color: #4f5686;
  padding: 25px;
}
.button {
  background-color: #76B7C7;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button:hover{
  background-color: white;
  color: #76B7C7;
}
.computer-image{
  width: 70%;
}
.footer-link{
  color: white;
}
.gallery{
  max-width: 480px;
  margin: 50px auto;
}
.header-link{
  color: white;
  margin-right: 5%;
}
.header-link:hover{
  color: #4f5686;
}
.main-img img{
  border: #808080 solid 5px;
}
.main-img img,
.thumbnails img{
  width: 100%;
}
.middle-container{
  padding: 25px;
}
.mountains{
  width: 60%;
}
.navBarTop{
  background-color: #76B7C7;
  text-align: right;
  padding: 30px;
}
.nyoki-face{
  width: 15%;
}
.NyokiIcon{
  width: 75px;
  position: absolute;
  left: 10%;
  top: 5px;
}
.profile{
  margin:auto;
  width: 60%;
}
.skill-grid{
  display: grid;
  grid-template-columns: 20% 40% 20%;
  justify-content: center;
  margin: 50px auto 50px auto;
}
.skills{
  text-align: center;
}
.thumbnails{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
}
